/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 



@import "bootstrap-sprockets";
@import "bootstrap";

.FormCenter {
  margin: auto;
  text-align: center;
  height: 50%;
  width: 30%;
  background-color: lightblue;
}
.App {
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 20px;
  padding: 40px 10px 10px 10px;
  display: flex;
  text-align: center;
  border-radius: 10px;
  justify-content: space-evenly;
   background-color: lightblue;
  flex-wrap: wrap;
  

}

.Item{
  width: 280px;
  height: 350px;
  padding: 10px; 
  text-align: center;
  margin-bottom: 20px

}
.Privew_Item{
  width: 280px;
  height: 350px;
  padding-left: 50px;
  padding-right: 20px;  text-align: center;
  margin-bottom: 20px
}

.App_Form {
  width: 100%;
  background-color: #2E4158;
  padding: 20px 40px;
  overflow: auto;
}
.FormField_Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid #445366;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}
    
    .searchbar{
    height: 60px;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    width: 42%;
    margin-right:auto;
    margin-left:auto;
    
    }
    .search_input{
    color: red;
    border: 0;
    outline: 0;
    background: lightblue;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 400px;
    caret-color:red;
    transition: width 0.4s linear;
    }
    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }





